<h1><%= @tournament %></h1>

<% @sub_tournaments.each do |tournament| %>
  <h2><%= tournament %></h2>
  <table>
    <% tournament.fights.each do |fight| %>
      <%#= form_tag picks_path() do |f| %>
        <tr>
          <% fight.fighters.each do |fighter| %>
            <td><%#= f.check_box :match_competitor_id, 'a' %></td>
            <td><%= fighter %></td>
          <% end %>
        </tr>
      <%# end %>
    <% end %>
  </table>
<% end %>
